.container_Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35em;
    padding: 5em;
}

.card_Shoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 15em 0em;
    margin: 0px;
    width: 30em;
    transition: all 0.3s ease-out;
    background-color: hsl(217, 19%, 24%);
  }