.Modal {
  margin-top: 2em;
  padding: 30px;
  min-width: 300px;
  min-height: 200px;
  width: 900px;
  max-height: 650px;
  background: #000000bb;
  position: relative;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.modalClose {
  font-size: 2em;
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  top: 5px;
  right: 20px;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  transform: rotate(45deg);
  transition: all 1s;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.modalClose:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.modalBody {
  display: flex;
  justify-content: center;
  align-items: center;
}
