@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.modal_Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal_Content img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    width: 50%;
}

.text_Shoes {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.name {
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
}

.description {
    font-family: 'Kanit', sans-serif;
    display: flex;
    justify-content: center;
}

.container_Price {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    background-color: greenyellow;
    padding: 0.5em;
    border-radius: 5px;
}

.price {
    font-family: 'Kanit', sans-serif;
    color: #000;
}