@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContent img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  width: 50%;
}

.textShoes {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.name {
  font-family: "Kanit", sans-serif;
  font-size: 35px;
}

.description {
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
}

.containerPrice {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  background-color: greenyellow;
  padding: 0.5em;
  border-radius: 5px;
}

.price {
  font-family: "Kanit", sans-serif;
  color: #000;
}
