.containerFormCreate {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formCreate {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  color: antiquewhite;
  padding: 0.5em;
  margin-bottom: 2.3em;
  font-size: 1.2em;
}

.formControl {
  padding: 0.1em;
  font-weight: bolder;
}

.btnCreate {
  display: flex;
  justify-content: center;
  background-color: #2fbf71;
  padding: 0.3em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
  transform: scale(1);
}

.btnCreate:hover {
  transform: scale(1.1);
}

.btnEdit {
  display: flex;
  justify-content: center;
  background-color: #2fbf71;
  padding: 0.3em;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
  transform: scale(0.9);
}

.btnEdit:hover {
  transform: scale(1);
}

.btnDelete {
  display: flex;
  text-decoration: none;
  background-color: #2fbf71;
  padding: 0.3em;
  border-radius: 0.3em;
  cursor: pointer;
  transform: scale(1);
}

.btnDelete:hover {
  transform: scale(1.1);
}

.btnOpenEdit {
  display: flex;
  text-decoration: none;
  background-color: #2fbf71;
  padding: 0.3em;
  border-radius: 0.3em;
  cursor: pointer;
  transform: scale(1);
}

.btnOpenEdit:hover {
  transform: scale(1.1);
}
